/.vs
/examples/testFrRobot/bin
/examples/testFrRobot/obj/Release/*.cache
/examples/testFrRobot/obj/Debug/*.cache
/src/FRRobot/obj/Release/*.cache
/src/FRRobot/obj/Debug/*.cache
/src/FRRobot/bin/Release/*.pdb
/src/FRRobot/obj/Release/*.pdb
/examples/testFrRobot/obj/Release/*.pdb


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
